<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796364709183-m9ga9pj8n5dp557drl20g5qp7vpr37ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796364709183-m9ga9pj8n5dp557drl20g5qp7vpr37ud</string>
	<key>API_KEY</key>
	<string>AIzaSyA25f89y_qeFa717SqZ5yk9ysJkQTV7DvU</string>
	<key>GCM_SENDER_ID</key>
	<string>796364709183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>notificaciones-74268</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaciones-74268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796364709183:ios:5d70776f434d11e151878a</string>
</dict>
</plist>